* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  border: none;
  min-height: 0;
}
#waybar {
  padding: 4px 6px;
}
window#waybar {
  background: rgba(20, 20, 20, 0);
  color: #7A8F3A;
}

#workspaces button {
  padding: 0 8px;
  margin: 4px 2px;
  background: transparent;
  color: #7A8F3A;
}

#workspaces button.active {
  background: #4F5B3A;
  color: #C2A23A;
  border-radius: 6px;
}

#clock, #network, #pulseaudio, #battery, #tray, #cpu, #memory, #custom-net_speed, #custom-bluetooth, #custom-cpu_combined, #custom-gpu_combined, #language, #custom-theme-switcher {
  padding: 0 10px;
  margin: 4px 6px;
  background: rgba(79,91,58,0.6);
  border-radius: 8px;
}


